---
const {img, name, title, description} = Astro.props;

---

<article>
    <div class="e_card_container">
    <img src={img} alt={name} />
    <h6 class="">{title}</h6>
    </div>
    <h2>{name}</h2>
    <p>{description}</p>
    <div class="some_card">
      <img src="/src/icons/instagram.svg" alt="Instagram">
      <img src="/src/icons/facebook.svg" alt="Facebook">
      <img src="/src/icons/twitter.svg" alt="Twitter">
    </div>
    
</article>

<style>
    @layer components {
        article{
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          text-align: center;
          margin-bottom: 10%;
        }
        img{
          border-radius: 2rem;
          width: 350px;
          height: 350px;
          z-index: 1;

        }

        .e_card_container{
          position: relative;
          display: inline-block;
        }

        h6{
          background-color: var(--primary03);
          border-radius: 29px;
          color: var(--secondary02);
          padding: 1% 4%;
          width: fit-content;
          font-weight: 100;
          font-size: 19px;
          position: absolute;
          bottom: 4%;
          right: 4%;;
        }
        h6:hover{
            background-color: var(--primary01);
            color: var(--primary03);
          }

          .some_card{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40%;
            img{
              width: 30px;
              height: 30px;
            }
          }
        
        }

    
</style>